°
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/logo.png">
    <title>wor</title>
</head>

<body>
    <div class="menu-principal">
        <div class="logo" id="logo">
            <img src="../img/logo.png" alt="Logo">
        </div>

        <div class="menu-bar" id="menuBar">
            <nav class="enlaces" id="enlaces">
                <ul>
                    <li><a href="">servicioa</a></li>
                    <li><a href="">equipo</a></li>
                    <li><a href="">contacto</a></li>
                </ul>
            </nav>
            <div class="sociales">
                <a href=""><span class="fab fa-facebook"></span></a></li>
                <a href=""><span class="fab fa-instagram"></span></a></li>
                <a href=""><span class="fab fa-twitter"></span></a></li>
                <a href=""><span class="fab fa-youtube"></span></a></li>
            </div>



        </div>


    </div>
    <button class="btn">Boton</button>

    <script src="../js/app.js"></script>
</body>

</html>